
# ==========================================
# IntelliJ IDEA
# ==========================================
# Игнорируем всю папку настроек по умолчанию
.idea/

# Default ignored files
/shelf/
/workspace.xml

# Файлы модулей (генерируются автоматически)
*.iml
*.iws
*.ipr

# HTTP Client (запросы сохраняются локально)
/httpRequests/

# Datasource (настройки подключений к БД локальные)
/dataSources/
/dataSources.local.xml

# ==========================================
# Сборка и Артефакты
# ==========================================
out/
target/
build/
dist/
*.class

# ==========================================
# Зависимости
# ==========================================
node_modules/
venv/
.env

# ==========================================
# Системные и прочее
# ==========================================
*.log
.DS_Store
Thumbs.db